@font-face {
    font-family: "headphones";
    src: url("../headphones/fonts/source-sans-pro/SourceSansPro-Bold.otf") format("woff2"),
         url("../headphones/fonts/source-sans-pro/SourceSansPro-It.otf") format("woff");
    /* Add other font properties if needed */
  }
  



body, html {
   
    background-image: url(../headphones/image/headphones_hero_1.jpg);
    padding: 0;
    margin-top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
 }
#main_2{
    background-color: aliceblue;
   width: 100%;
}
#main_3{
    background-image: url(../headphones/image/headphones_hero_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    


}
#main_4{
    background-color: aliceblue;
   width: 100%;
}
.form_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pent_container {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    
    
}
.pent{
   padding-right: 0px;
   padding-left: 230px;
   margin-inline: 0px;


    
}
#pent2{
    padding-left: 133px;
}
#pent3{
    padding-left: 139px;
}
#pent4{
    padding-left: 133px;
}

#penttext1 {
    position: absolute;
    bottom: 1px;
    right: 75%;
   
   
   
}
#penttext2 {
    position: absolute;
    bottom: 1px;
    right: 55%;
   
}
#nbr{
    font-size: 40px;
    font-family: "headphones", sans-serif;

}
#penttext3 {
    position: absolute;
    bottom: 1px;
    right: 35%;
   
   
}
#penttext4 {
    position: absolute;
    bottom: 1px;
    right: 15%;
   
   
}



header li {
	display: inline;
	vertical-align:middle;
    
}


