@font-face {
    font-family: "headphones";
    src: url("../headphones/fonts/source-sans-pro/SourceSansPro-Bold.otf") format("woff2"),
         url("../headphones/fonts/source-sans-pro/SourceSansPro-It.otf") format("woff");
    /* Add other font properties if needed */
  }
  *{
    margin: 0;
  }
  



  .main0 {
   
    background-image: url(../headphones/image/headphones_hero_1.jpg);
    padding: 0;
    margin-top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
 }
 header li {
	display: inline;
	vertical-align:middle;
    
}
#main_2{
    background-color: aliceblue;
   width: 100%;
}
#main_3{
    background-image: url(../headphones/image/headphones_hero_2.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 650px;
    


}
#main_4{
    background-color: aliceblue;
   width: 100%;
}
.form_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pent_container {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    
    
}


#penttext1 {
    position: absolute;
    bottom: 1px;
    right: 75%;
    top: 50px;

   
   
   
}
#penttext2 {
    position: absolute;
    bottom: 1px;
    right: 55%;
    top: 50px;
   
}
#nbr{
    font-size: 40px;
    font-family: "headphones", sans-serif;
    line-height: 0.3;

}
#penttext3 {
    position: absolute;
    bottom: 1px;
    right: 35%;
    top: 50px;
   
   
}
#penttext4 {
    position: absolute;
    bottom: 1px;
    right: 15%;
    top: 50px;
   
   
}
footer{
    background-color: #071629;
    width: auto;
    height: 249px;
    background-attachment: fixed;
}





.pentagon {
    position: relative;
    width: 100px;
    height: 0;
    right: -50px;
    width: 100px;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 87px solid  rgb(255, 69, 69) ;
   
    
   
    
}
.pentagon::before{
    position: absolute;
    content: '';
    height:0;   
    width:0;
  
    border-top: 87px solid  rgb(255, 69, 69);
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
   top: 86px;
    right: -50px;
   
    

}



